{% extends 'base.html.twig' %}

{% block title %}Ajouter un événement{% endblock %}

{% block body %}
    <h1>Ajouter un événement</h1>

    <hr>

    {{ form_start(addEventForm) }}
        {{ form_row(addEventForm) }}

        <div class="row">
            <div class="col text-start">
                <a href="{{ path('event') }}" class="btn btn-primary">Retour à la liste</a></div>

            <div class="col text-end">
                <input type="submit" value="Valider" class="btn btn-success"></div>
        </div>
    {{ form_end(addEventForm) }}
{% endblock %}