{% extends 'base.html.twig' %}

{% block title %}Evaluer{% endblock %}

{% block body %}
    <h1>Evaluer</h1>

    <hr>

    <div class="row">
        {{ form(eventEvaluateForm) }}
    </div>

{% endblock %}