{% extends 'base.html.twig' %}

{% block title %}Les événements{% endblock %}

{% block body %}
    <h1>Les événements</h1>

    <hr>

    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
    </div>

    <div class="row">
        {% for event in events %}
            {% include "includes/_card_event.html.twig" with {'event': event} %}
        {% endfor %}
    </div>

{% endblock %}
