{% extends 'base.html.twig' %}

{% block title %}Event Site{% endblock %}

{% block body %}
    <h1>Bienvenue sur Event Site</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur excepturi ipsam obcaecati porro reiciendis, repellat sit. Ad alias dolore et ex facere illo nemo, odit perferendis, quasi quisquam vel.
    </p>
{% endblock %}
